/* $Id: theme-powell-street.css 79046 2008-04-21 17:09:32Z stanimoto $ */

/* basic page elements */

body
{
	font-family: verdana, 'trebuchet ms', sans-serif;
	font-size: 11px;
}

a { color: #598A92; }
a:visited { color: #000; }
a:hover { color: #235961; }

#banner a { color: #fff; text-decoration: none; }
#banner a:visited { color: #fff; }
#banner a:hover { color: #fff; }

.module-content a { color: #96927d; font-weight: bold; }
.module-content a:visited { color: #96927d; }
.module-content a:hover { color: #235961; }

.entry-header a { color: #933; text-decoration: none; }
/*
.entry-header a:visited { color: #656565; }
.entry-header a:hover { color: #656565; }
*/
.entry-footer a { font-weight: bold; }

h1, h2, h3, h4, h5, h6
{
	font-family: 'trebuchet ms', helvetica, arial, sans-serif;
}

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
	/* ie win (5, 5.5, 6) bugfix */
	p\osition: relative;
	width: 100%;
	w\idth: auto;

	margin: 0;
	/* border-top: 1px solid #fff; */
	border-bottom: 1px solid #bbb;
	padding: 5px 10px 5px 25px;
	color: #000;
	/* background: #e7e2c6 url(theme-powell-street/module-header-bg.gif) 0 0.65em no-repeat; */
	font-size: 14px;
	font-weight: bold;
}

.module-header a,
.trackbacks-header a,
.comments-header a,
.comments-open-header a,
.archive-header a
{
	color: #c49f2d;
	text-decoration: underline;
}

.module-header a:visited,
.trackbacks-header a:visited,
.comments-header a:visited,
.comments-open-header a:visited,
.archive-header a:visited
{
	color: #c49f2d;
}

.module-header a:hover,
.trackbacks-header a:hover,
.comments-header a:hover,
.comments-open-header a:hover,
.archive-header a:hover
{
	color: #235961;
}

.entry-more-link,
.entry-footer,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed
{
	font-size: 10px;
}

.trackbacks-info,
.comments-info
{
	margin-bottom: 20px;
}


/* page layout */

body
{
	color: #333;
	background: #dadada url(theme-powell-street/body-bg.gif) center top repeat;
}

#container { width: 760px; }
#container-inner { margin: 15px 0; }

#banner
{
	width: 730px;
	margin: 0 0 15px 15px;
	background: #527276 url(theme-powell-street/tambako_-_spacy_stone.jpg);
}

#banner-inner {  }

.banner-user
{
	width: 70px;
	margin-top: 4px;
	font-size: 10px;
}

.banner-user-photo { border: 3px double #fff; }

#banner-header
{
	margin: 0;
	padding: 30px 15px 40px 15px;
	color: #fff;
	font-size: 48px;
	font-weight: normal;
	font-style: italic;
	line-height: 1;
}

#banner-description
{
	margin: 0;
	border-top: 1px solid #fff;
	padding: 5px 15px;
	color: #fff;
	background: #666;
	font-size: 13px;
	line-height: 1.125;
	text-align: center;
}

/* Nav */

#nav
{
	margin: 0 15px 20px 15px;
	background-color: #f4f4f6;
}

.nav-list-item
{
	border-right: 1px solid #e8e8ea;
}

.nav-list-item a
{
	font-size: 11px;
	padding: 6px 11px;
}


#alpha, #beta, #gamma, #delta
{
	float: left;
	margin: 0 0 0 15px;
}
#alpha, #gamma, #delta
{
	background: #e7e2c6 url(theme-powell-street/sidebar-bg.gif) left top repeat-x;
}

#alpha-inner, #gamma-inner, #delta-inner
{
	/* padding: 0px 0px 25px 0px;
	background: url(theme-powell-street/sidebar-bottom-bg.gif) left bottom repeat-x; */
}

#alpha { width: 270px; }

#beta
{
	width: 445px;
	/* background: #e7e7ec url(theme-powell-street/content-bg.gif) left top repeat-x; */
}

#gamma, #delta { width: 200px; }

.date-header
{
	margin: 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bbb;
	padding: 5px 15px 5px 35px;
	color: #598a92;
	background: url(theme-powell-street/date-header-bg.gif) 0 0.65em no-repeat;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.entry-header
{
	margin: 5px 15px;
	color: #656565;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
}

.entry-content { margin: 5px 15px; }

.entry-more-link { font-weight: bold; }

.entry-footer
{
	margin: 10px 15px 20px 16px;
	font-weight: normal;
	text-align: right;
}

.content-nav { margin: 0; padding: 10px 15px; }

.content-header
{
	margin: 0 15px 30px;
	padding: 10px 0 0;
	color: #656565;
	font-size: 22px;
	font-weight: bold;
}


/* modules */

.module { color: #666; }

.module-calendar .module-content { margin: 5px 10px 15px 10px; }

.module-mmt-calendar .module-content table,
.module-calendar .module-content table { font-size: 11px; }

.module-powered { margin: 0; padding: 0; }
.module-powered .module-content
{
	border: 1px solid #aaa;
	padding: 1px;
	text-align: center;
	font-style: italic;
	background: #eee;
	-moz-border-radius: 5px;
}
.module-powered .module-content a
{
	color: #666;
	text-decoration: none;
}

.module-content-old
{
	margin: 15px;
	padding: 10px;
	border: 1px solid #dfc78a;
	background: url(theme-powell-street/gradient-bg.gif) left center repeat-x;
}

.module-photo { border: 0; background: none; }
.module-photo .module-content { margin: 10px; }
.module-photo img { border: 0; }

.module-list-item,
.archive-list-item
{
	padding: 0 0 0 14px;
	margin-bottom: -5px;
	background: url(theme-powell-street/li-bg.gif) 0 0.2em no-repeat;
}

.module-list-item a, .module-list-item a:visited
{
	color: #666;
}

/* special list bullets */
.module-archives .module-list-item
{
	background-image: url(theme-powell-street/li-entry-bg.gif);
}

.module-recent-comments .module-list-item
{
	background-image: url(theme-powell-street/li-comment-bg.gif);
}

.module-feed .module-list-item
{
	background-image: url(theme-powell-street/li-entry-bg.gif);
}

.typelist-thumbnailed { margin: 0 0 20px 0; }

.typelist-thumbnailed .module-list-item
{
	margin: 1px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bbb;
	padding: 0;
	background: url(theme-powell-street/gradient-bg.gif) left center repeat-x;
}

.typelist-thumbnail { background: #e3db9e; }

.module-featured-photo { width: 445px; }
.module-featured-photo .module-content { margin: 0 0 5px 15px; }
.module-featured-photo img { width: 415px; }

.module-recent-photos { border: 0; }
.module-recent-photos .module-content { margin: 0 0 0 15px; }
.module-recent-photos .module-list { margin: 0; }
.module-recent-photos .module-list-item
{
	width: 64px; /* mac ie fix */
	margin: 0 6px 6px 0;
	padding: 0;
	background: none;
}

.module-recent-photos .module-list-item a
{
	border: #bbb 1px solid;
	padding: 1px;
	background: #e7e7ec;
}

.module-recent-photos .module-list-item a:hover
{
	border-color: #235961;
	background: #e7e2c6;
}


/* calendar tweaks */

	.module-mmt-calendar { width: 445px; margin: 0; }

	.module-mmt-calendar .module-header,
	.layout-timeline .module-recent-photos .module-header
	{
		margin: 0;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #bbb;
		padding: 5px 15px;
		color: #888899;
		background: none;
		font-size: 13px;
		font-weight: bold;
		text-align: right;
	}

	.module-mmt-calendar .module-content { margin: 15px; }

	.module-mmt-calendar table
	{
		width: 415px;
		background: #e7e2c6;
	}

	.module-mmt-calendar th
	{
		border-top: 1px solid #fff;
		border-right: 1px solid #e7e7ec;
		border-bottom: 1px solid #bbb;
		padding: 2px;
		text-align: right;
		font-weight: bold;
	}

	.module-mmt-calendar td
	{
		border-top: 1px solid #fff;
		border-right: 1px solid #e7e7ec;
		border-bottom: 1px solid #bbb;
		padding: 2px;
		text-align: right;
		font-weight: normal;
		background: url(theme-powell-street/gradient-bg.gif) left center repeat-x;
	}

	th.weekday-7, td.day-7, td.day-14, td.day-21, td.day-28, td.day-35, td.day-42
	{
		border-right: none;
	}

	.day-photo a
	{
		border: #bbb 1px solid;
		padding: 1px;
		background: #e7e7ec;
	}

	.day-photo a:hover
	{
		border-color: #235961;
		background: #e7e2c6;
	}


/* artistic tweaks */

	.layout-artistic #beta-inner { padding-top: 30px; }


/* moblog1 tweaks */

	.layout-moblog1 #alpha { width: 190px; }
	.layout-moblog1 #beta { width: 345px; }
	.layout-moblog1 #gamma { width: 165px; }

	.layout-moblog1 .module-recent-photos { margin: 0; }
	.layout-moblog1 .module-recent-photos .module-content { margin: 10px 0 0 15px; }


/* moblog2 tweaks */

	.layout-moblog2 #alpha { width: 85px; }
	.layout-moblog2 #beta { width: 300px; }
	.layout-moblog2 #gamma { width: 194px; }
	.layout-moblog2 #delta { width: 120px; margin-left: 1px; background-color: #d8d3b9; }

	.layout-moblog2 .module-photo .module-content { margin: 10px; }
	.layout-moblog2 .module-photo .module-content img { width: 100px; height: auto; }

	.layout-moblog2 .module-recent-photos { margin: 0; }
	.layout-moblog2 .module-recent-photos .module-content { margin: 10px 0 0 10px; }


/* timeline tweaks */

	.layout-timeline #alpha { width: 325px; }
	.layout-timeline #beta { width: 390px; }
	.layout-timeline #gamma { width: 170px; }
	.layout-timeline #delta { width: 175px; }

	.layout-timeline .module-recent-photos .module-content { margin: 10px 0 0 15px; }
	.layout-timeline .module-recent-photos .module-list-item { margin: 0 10px 10px 0; }


/* one-column tweaks */

	body.layout-one-column { background-image: url(theme-powell-street/body-bg-1.gif); }

	.layout-one-column #container { width: 600px; }
	.layout-one-column #banner { width: 570px; }
	.layout-one-column #alpha
	{
		background: #e7e7ec url(theme-powell-street/content-bg.gif) left top repeat-x;
		width: 570px;
	}

	.layout-one-column #alpha-inner { background: url(theme-powell-street/content-bottom-bg.gif) left bottom repeat-x; }


/* two-column-left tweaks */

	.layout-two-column-left #alpha { width: 200px; }
	.layout-two-column-left #beta { width: 515px; }


/* two-column-right tweaks */

	.layout-two-column-right #alpha
	{
		width: 515px;
		background: #fff;
		/*	background: #e7e7ec url(theme-powell-street/content-bg.gif) left top repeat-x; */
	}

	.layout-two-column-right #alpha-inner
	{
	/*	background: url(theme-powell-street/content-bottom-bg.gif) left bottom repeat-x; */
	}

	.layout-two-column-right #beta
	{
		width: 200px;
/*		background: #e7e2c6 url(theme-powell-street/sidebar-bg.gif) left top repeat-x; */
	}

	.layout-two-column-right #beta-inner
	{
		border: 1px solid #ccc;
		-moz-border-radius: 10px;
/*		background: url(theme-powell-street/sidebar-bottom-bg.gif) left bottom repeat-x; */
	}


/* three-column tweaks */

	.layout-three-column #alpha { width: 190px; }
	.layout-three-column #beta { width: 320px; }
	.layout-three-column #gamma { width: 190px; }


/* three-column-right tweaks */

	.layout-three-column-right #alpha { width: 334px; background: #e7e7ec url(theme-powell-street/content-bg.gif) left top repeat-x; }
	.layout-three-column-right #beta { width: 190px; background: #e7e2c6 url(theme-powell-street/sidebar-bg.gif) left top repeat-x; }
	.layout-three-column-right #gamma { width: 190px; margin-left: 1px; }

	.layout-three-column-right #alpha-inner { background: url(theme-powell-street/content-bottom-bg.gif) left bottom repeat-x; }
	.layout-three-column-right #beta-inner { background: url(theme-powell-street/sidebar-bottom-bg.gif) left bottom repeat-x; }
